.flex-container5,
.flex-container4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

.fl1,
.fl5,
.fl6,
.fl9 {
    flex-basis: 100%;
}

.fl2,
.fl4 {
    flex-basis: 24.7%;
}

.fl3 {
    flex-basis: 49%;
}

.fl7 {
    flex-basis: 32.72%;
}

.fl8 {
    flex-basis: 66%;
}
